.card {
  --card-border: theme(borderWidth.DEFAULT) solid theme(colors.neutral.900);
  /* background-color: theme(colors.orange.50); */
  border-radius: theme(spacing.2);
  border: var(--card-border);
}

.card-top-section {
  padding: theme(spacing.2);
}

.card-bottom-section {
  border-top: var(--card-border);
  padding: theme(spacing.2);
}
